@page "/expense"

<nav class="navbar navbar-light justify-content-between">
    <h1 class="navbar-brand mb-0 h1 fw-bold" style=" background: #7942CE;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;">
        Expenses
    </h1>
</nav>

<table class="table">
    <thead>
        <tr>
            <th class="align-baseline"><div>Tag</div></th>
            <th class="align-baseline"><div>Amount</div></th>
            <th class="align-baseline"><div>Date</div></th>
            <th class="align-baseline"><div>Note</div></th>
        </tr>
    </thead>
    <tbody>
        @{
            IEnumerable<Transaction> transactionList = _transactions;
            transactionList = transactionList.OrderByDescending(t =>
            t.Date);

            foreach (var transaction in transactionList)
            {
                <tr>
                    <td>@transaction.Tag</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Date</td>
                    <td>@transaction.Note</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    @code {
        [CascadingParameter]
        private GlobalState _globalState { get; set; }
        private double _debtAmount { get; set; }
        private string _curr { get; set; }
        private List<Transaction> _transactions { get; set; }

        protected override void OnInitialized()
        {
            _transactions = TransactionService.GetTransactionType(_globalState.CurrentUser.Id, TransactionType.Debit);
            _curr = UsersService.GetCurrency(_globalState.CurrentUser.Id);
        }
     

    }
}
